<mapper namespace="User">
    <select id="selectOne" paramterType="com.lagou.pojo.User"
            resultType="com.komodo.community.pojo.User">
        select * from user where id = #{id} and username =#{username}
    </select>
    <select id="selectList" resultType="com.komodo.community.pojo.User">
        select * from user
    </select>
</mapper>
